@page
@model DnDCharGenWeb.Pages.AttributeGeneratorModel
@{
    ViewData["Title"] = "Attribute Generator";
}

<div class="text-center">
    <form method="post">
        <label for="_str">Strength</label>
        <input asp-for="_str" class="attribute" id="_str" name="_str">
        <button type="button" onclick=UpdateAttributeField("_str")>Roll Attribute</button><br></br>
   
        <label for="_dex">Dexterity</label>
        <input asp-for="_dex" class="attribute" id="_dex" name="_dex">
        <button type="button" onclick=UpdateAttributeField("_dex")>Roll Attribute</button><br></br>
    
        <label for="_con">Constitution</label>
        <input asp-for="_con" class="attribute" id="_con" name="_con">
        <button type="button" onclick=UpdateAttributeField("_con")>Roll Attribute</button><br></br>
    
        <label for="_int">Intelligence</label>
        <input asp-for="_int" class="attribute" id="_int" name="_int">
        <button type="button" onclick=UpdateAttributeField("_int")>Roll Attribute</button><br></br>
    
        <label for="_wis">Wisdom</label>
        <input asp-for="_wis" class="attribute" id="_wis" name="_wis">
        <button type="button" onclick=UpdateAttributeField("_wis")>Roll Attribute</button><br></br>
    
        <label for="_char">Charisma</label>
        <input asp-for="_char" class="attribute" id="_char" name="_char">
        <button type="button" onclick=UpdateAttributeField("_char")> Roll Attribute</button><br></br>

        <button type="submit">Submit</button>
    </form>
    <a asp-page="/Index">Return to Main page</a>
</div>
