@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Dis be DnD Char Gen 2.0; now with handy web features. And an appearance too. Nifty.</p>
    <a asp-page="/AttributeGenerator">Generate Character</a>
    <a asp-page="/CharacterSheet">See sheet for now.</a>

</div>
